*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}




nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}
.logo{
    font-size: 30px;
}
.logo img{
    width: auto;
    height: 40px;
    object-fit: cover;
}
.menu{
    display: flex;
    column-gap: 20px;
    font-weight: 500;
}
.menu i{
    display: none;
}
.bi-list{
    display: none;
}
.menu p:hover{
    color: rgb(122, 77, 17);
    cursor: pointer;
    transition: 500ms;
}
.login{
    display: flex;
    column-gap: 20px;
}
.login a{
    background-color: rgb(175, 145, 106);
    padding: 5px 20px;
    height: fit-content;
    color: white;
    text-decoration: none;
    font-weight: 500;
    /* box-shadow: 0px 0px 10px rgba(175, 145, 106, 0.267); */
}
.login a:nth-child(2):hover{
    background-color: rgb(113,96,60);
    transition: 500ms;
    border: 2px solid rgb(113,96,60);
    color: white;
}
.login a:nth-child(2){
    padding: 1px 20px;
    padding-bottom: 4px;
    background-color: whitesmoke;
    border: 2px solid rgb(113,96,60);
    color: black;
    font-weight: 500;
    box-shadow: none;
}
.login a:hover{
    background-color: rgb(113,96,60);
    transition: 500ms;
}


.hero{
    height: fit-content;
    background-image: url(https://cdn.royalcanin-weshare-online.io/UCImMmgBaxEApS7LuQnZ/v2/eukanuba-market-image-puppy-beagle?w=5596&h=2317&rect=574,77,1850,1045&auto=compress,enhance);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.welcome__text__wrap{
    height: 70vh;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.192);
}
.welcome__text{
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}
.welcome__text h1{
    font-size: 70px;
    width: 40%;
}
.welcome__text p{
    font-size: 24px;
    width: 40%;
}
.welcome__text__wrap button{
    width: fit-content;
    padding: 8px 26px;
    color: white;
    background-color: rgb(158, 103, 7);
    border: none;
    font-size: 16px;
    box-shadow: -3px 3px 0px rgb(83, 53, 0);
    /* box-shadow: 0px 0px 20px rgba(175, 145, 106, 0.301); */
}
.welcome__text__wrap button:hover{
    transition: 500ms;
    box-shadow: 4px 4px 0px rgb(70, 29, 0);
    cursor: pointer;
}


.search{
    position: absolute;
    background-color: whitesmoke;
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 20px 40px;
    border-radius: 15px;
    left: 30%;
    bottom: -37px;
    box-shadow: 0 6px 5px 2px rgba(212, 212, 212, 0.479);
}
/* .search:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%; 
    top: 0;
    left:0;
    box-shadow: none;
  } */
.search form input{
    background-color: rgba(190, 190, 190, 0.39);
    border: 2px solid rgba(190, 190, 190, 0.39);
    padding: 10px 20px;
    border-radius: 25px;
    width: 300px;
    outline: none;
}
.search form input:focus{
    border: 2px solid rgb(175, 145, 106);
}
.search .text{
    color: rgb(95, 95, 95);
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.text:hover{
    color: rgb(122, 77, 17);
    cursor: pointer;
}
.line{
    font-weight: 300;
}






.pictures{
    padding: 90px 100px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 5px;
}
.pictures h1{
    font-size: 40px;
}
.pictures p{
    font-size: 20px;
    width: 70%;
}
.categories{
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.categories p{
    padding: 3px 10px;
    border: 2px solid rgba(184, 184, 184, 0.856);
    border-radius: 5px;
}
.categories p:hover{
    border: 2px solid whitesmoke;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(173, 173, 173, 0.788);
}


.puppies__wrapper{
    padding: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    z-index: 2;
}
.puppies{
    height: fit-content;
    width: 25%;
    border-radius: 25px;
    height: 250px;
    position: relative;
    z-index: 3;
}
.wide{
    width: 46%;
    height: 300px;
    box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.76);
} 
.second{
    margin-top: -50px;
    box-shadow: 0px 0px 20px rgb(156, 156, 156);
}
.puppies img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.puppies p{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-weight: 500;
    color: white;
    background-color: rgb(122, 77, 17);
    padding: 3px 8px;
    border-radius: 25px;
    font-size: 13px;
}
.puppies p:hover{
    cursor: pointer;
    background-color: rgb(70, 29, 0);
    transition: 300ms;
}



.more{
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    padding-bottom: 90px;
}
.more button{
    width: fit-content;
    padding: 8px 26px;
    color: white;
    background-color: rgb(148, 98, 32);
    border: none;
    font-size: 16px;
    box-shadow: -3px 3px 0px rgb(83, 53, 0);
    /* box-shadow: 0px 0px 20px rgba(175, 145, 106, 0.301); */
}
.more button:hover{
    transition: 500ms;
    box-shadow: 4px 4px 0px rgb(70, 29, 0);
    cursor: pointer;
}





.circle{
    position: absolute;
    z-index: 0;
    background-color: rgba(188, 143, 143, 0.295);
    width: 400px;
    height: 400px;
    border-radius: 100%;
    left: 35%;
    top: 15%;
}






.services__wrapper{
    background-color: rgba(188, 143, 143, 0.075);
    /* margin-top: 120px; */
    padding: 90px 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 20px;
}
.services__wrapper h1{
    text-align: center;
    font-size: 40px;
}
.answer__wrapper{
    display: flex;
    column-gap: 30px;
    text-align: justify;
}
.answer{
    display: flex;
    column-gap: 10px;
    width: 33%;
    align-items: flex-start;
}
.answer p{
    font-size: 18px;
}
.number{
    color: rgb(122, 77, 17);
    font-size: 23px;
    font-weight: 600;
    margin-top: -5px;
}





.fetch__wrapper{
    padding: 120px 100px;
    background-color: rgba(188, 143, 143, 0.295);
    /* margin-top: 120px; */
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
.fetch__wrapper img{
    object-fit: cover;
    width: 24%;
    height: 200px;
    background-color: gray;
    box-shadow: 0px 0px 20px rgba(175, 145, 106, 0.603);
    border-radius: 20px;
}
.line__one{
    display: flex;
    column-gap: 30px;
}
.line__two{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.line__two img{
    width: 20%;
}
.line__two{
    display: flex;
    column-gap: 30px;
}

.talent__wrap{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.text__wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.text__wrapper h1{
    text-align: center;
    font-size: 40px;
}
.text__wrapper p{
    font-size: 40px;
    text-align: center;
    font-size: 20px;
}
.talent__wrap button{
    width: fit-content;
    padding: 8px 25px;
    border: none;
    background-color: rgb(148, 98, 32);
    color: white;
    font-size: 14px;
    font-weight: 500;
    box-shadow: -3px 3px 0 rgb(71, 46, 13);
}
.talent__wrap button:hover{
    transition: 500ms;
    cursor: pointer;
    box-shadow: 4px 4px 0 rgb(71, 46, 13);
}
.line__three{
    display: flex;
    column-gap: 30px;
}





.reviews__wrapper{
    padding: 90px 100px;
    /* margin-top: 120px; */
    /* background-color: rgba(122, 76, 17, 0.062); */
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.reviews__wrapper h1{
    font-size: 40px;
    text-align: center;
}
.reviews__container{
    display: flex;
    column-gap: 20px;
}
.reviews{
    width: 33%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    box-shadow: 0px 0px 20px rgba(204, 204, 204, 0.678);
    border-radius: 10px;
    padding: 20px;
    background: rgba(245, 245, 245, 0.644);
}

.comment{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.comment p{
    text-align: justify;
    line-height: 18px;
    font-size: 15px;
    color: rgb(90, 90, 90);
}
.reviews img{
    border-radius: 10px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.rate i{
    color: rgb(255, 183, 0);
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.time p{
    font-size: 13px;
    font-weight: 500;
    color: gray;
}




footer{
    background-color: rgba(188, 143, 143, 0.295);
    color: black;
    padding: 90px 100px;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}
.links{
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.office{
    width: 20%;
}
.office  .content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.content p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(87, 87, 87);
}
.content p:hover{
    transition: 500ms;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(122, 77, 17);
}
.office p{
    width: 70%;
}
.content{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.news{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.news h1{
    font-size: 32px;
}
form{
    display: flex;
    column-gap: 10px;
}
form input{
    padding: 10px 20px;
    width: 70%;
    /* border-radius: 10px; */
    border: none;
    background-color: rgba(255, 255, 255, 0.692);
    outline: none;
    border: 2px solid rgba(165, 165, 165, 0.541);
}
form input:focus{
    border: 2px solid rgb(175, 145, 106);
}
form button{
    height: fit-content;
    padding: 10px 25px;
    border: none;
    background-color: rgb(148, 98, 32);
    color: white;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 0px 20px rgba(148, 98, 32, 0.37);
}
form button:hover{
    transition: 500ms;
    cursor: pointer;
    background-color: rgb(113,96,60);
}
input::placeholder{
    color: rgb(51, 51, 51);
}



.hidden{
    display: none;
}
@media(max-width:1300px){
    .welcome__text h1{
        width: 60%;
    }
    .welcome__text p{
        width: 60%;
    }
    .search{
        left: 23%;}
    .puppies{
        width: 30%;
    }
    .wide{
        width: 35%;
        height: 250px;
    }
    .second{
        margin-top: 0px;
    }
    .circle{
        left: 30%;
    }
}

@media(max-width: 1000px){
    nav{
        padding: 10px 50px;
    }
    .welcome__text__wrap{
        padding: 60px 50px;
    }
    .search{
        left: 20%;
    }
    .pictures{
        padding: 90px 50px;
        padding-bottom: 0;
    }
    .categories{
        padding: 40px 50px;
    }
    .puppies__wrapper{
        padding: 0px 50px;
    }
    .services__wrapper{
        padding: 90px 50px;
    }
    .fetch__wrapper{
        padding: 120px 50px;
    }
    .reviews__wrapper{
        padding: 90px 50px;
    }
    footer{
        padding: 90px 50px;
    }
    .exit__one{
        display: none;
    }
    .line__one img{
        width: 30%;
    }
    .line__three img{
        width: 30%;
    }
}

@media(max-width: 900px){
    .menu{
        column-gap: 10px;
    }
    .menu i{
        font-size: 20px;
        align-items: center;
    }
    .menu i:hover{
        cursor: pointer;
        color: rgb(122, 77, 17);
    }
    .menu p{
        display: none;
    }
    .login{
        display: none;
    }
    .menu i{
        display: flex;
    }
    .bi-list{
        display: flex;
    }
    .bi_person_circle{
        display: flex;
    }
    .search{
        left: 18%;
    }
    .wide{
        width: 34%;
    }
    .line__two img{
        display: none;
    }
    .talent__wrap{
        width: 70%;
    }
    .reviews__container{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .reviews{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .reviews img{
        width: 35%;
        height: 200px;
    }
    .comment{
        padding: 30px;
        justify-content: space-between;
    }
    
}

@media(max-width: 770px){
    .welcome__text h1{
        width: 80%;
        font-size: 60px;
    }
    .welcome__text p{
        width: 75%;
        font-size: 22px;
    }
    .search{
        left: 12%;
    }
    .pictures h1{
        font-size: 35px;
    }
    .pictures p{
        width: 80%;
        font-size: 18px;
    }
    .puppies{
        width: 48%;
    }
    .categories p{
        font-size: 14px;
    }
    .circle{
        top: 25%;
        left: 23%;
    }
    .answer__wrapper{
        flex-direction: column;
        row-gap: 20px;
    }
    .services__wrapper h1{
        font-size: 35px;
    }
    .answer{
        width: 100%;
    }
    .text__wrapper h1{
        font-size: 35px;
    }
    .text__wrapper p{
        font-size: 18px;
    }
    .reviews__wrapper h1{
        font-size: 35px;
    }
    footer{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .links{
        width: 20%;
    }
    .office p{
        width: 100%;
    }
    .news{
        width: 100%;
    }
}

@media(max-width: 635px){
    nav{
        padding: 10px 20px;
    }
    .welcome__text__wrap{
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        /* text-align: center; */
    }
    .welcome__text h1{
        font-size: 50px;
    }
    .welcome__text p{
        font-size: 20px;
    }
    .pictures{
        padding: 90px 20px;
        padding-bottom: 0;
    }
    .pictures p{
        width: 100%;
    }
    .categories{
        padding: 40px 20px;
        row-gap: 5px;
        column-gap: 5px;
    }
    .puppies__wrapper{
        padding: 0px 20px;
    }
    .circle{
        left: 20%;
    }
    .services__wrapper{
        padding: 90px 20px;
    }
    .fetch__wrapper{
        padding: 120px 20px;
    }
    .reviews__wrapper{
        padding: 90px 20px;
    }
    footer{
        padding: 90px 20px;
    }
    .search{
        left: 6%;
    }
    .talent__wrap{
        width: 100%;
    }
    .line__one{
        display: none;
    }
    .hidden{
        display: flex;
        flex-wrap: wrap;
    }
    .fetch__wrapper{
        row-gap: 30px;
    }
    .fetch__wrapper img{
        width: 47%;
        height: 250px;
    }
    .line__three{
        flex-wrap: wrap;
    }
    .photo__hide{
        display: none;
    }
    .search{
        padding: 20px;
        column-gap: 20px;
    }
}
@media(max-width: 590px){
    .reviews{
        flex-direction: column;
        width: fit-content;
    }
    .reviews img{
        width: 100%;
    }
    .comment{
        padding: 0px;
    }
}
@media(max-width:551px){
    .welcome__text__wrap{
        justify-content: center;
    }
    .search{
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        width: auto;
        border-radius: 0px;
    }
    .search form input{
        width: 100%;
    }
    .puppies{
        width: 100%;
    }
    .fetch__wrapper{
        row-gap: 30px;
    }
    .fetch__wrapper img{
        width: 100%;
    }
    .hidden{
        row-gap: 30px;
    }
    .line__three{
        row-gap: 30px;
    }
    .circle{
        display: none;
    }
}
@media(max-width: 400px){
    .welcome__text__wrap{
        justify-content: center;
        align-items: center;
    }
    .welcome__text h1{
        width: 100%;
        font-size: 40px;
        text-align: center;
    }
    .welcome__text p{
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    .welcome__text__wrap button{
        font-size: 14px;
    }
    .pictures h1{
        font-size: 30px;
    }
    .pictures p{
        font-size: 16px;
    }
    .categories p{
        font-size: 14px;
    }
    .more button{
        font-size: 14px;
    }
    .services__wrapper h1{
        font-size: 30px;
    }
    .answer p{
        font-size: 16px;
    }
    .text__wrapper h1{
        font-size: 30px;
    }
    .text__wrapper p{
        font-size: 16px;
    }
    .reviews__wrapper h1{
        font-size: 30px;
    }
    .talent__wrap button{
        font-size: 14px;
    }
    .links{
        width: 100%;
    }
}
@media(max-width: 300px){
    .search{
        display: none;
    }
}